.book {
	background-color: #B8BEC8;
	padding: 10px;

}

h1, h2 {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.menu {
	position: fixed;
	right: 80px;
	background-color: #fff;


}