* {
	box-sizing: border-box;
}

body {
	background-color: #F6F6F6;
	color: #2f2f2f;

	display: flex;
	justify-content: center;
	align-items: center;

}

.product {
	margin: 138px 153px;
	padding: 102px 77px;
	width: 100%;
	max-width: 1615px;
	border: 1px solid #d7d7d7;
	background-color: #ffffff;
}

.img-product {
	display: inline-block;
	max-width: 600px; 
	width: 100%;
	max-height: 600px;
	height: 100%;
	margin-right: 80px;
}

img {
	width: 100%;
	height: 100%;
}

.info-product {
	display: inline-block;
	max-width: 630px;
	width: 100%;
	margin-left: 80px;
	vertical-align: top;
}

.title-product {
	font-family: "Arial - Bold MT";
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 48px;
}

.descr-product {
	font-family: "Arial MT";
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 87px;
}

span {
	font-family: "Arial MT";
	font-size: 24px;
	font-weight: 400;
}

.price-product {
	margin-top: 36px;
	margin-bottom: 65px;
	font-family: "Arial MT";
	font-size: 48px;
	font-weight: 400;
}

button {
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 30px;
	font-weight: 400;
	max-width: 402px;
	width: 55%;
	height: 79px;
	background-color: #ec744a;
}


span, button {
	display: block;
}




@media (max-width: 1000px) {
	.img-product,
	.info-product {
		margin: 0;
		padding: 20px;
	}

	button {
		width: 90%;
	}
}