body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 16px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
button {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

input,
textarea {
  border: none;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 2px solid #707070;
  color: #000;
  margin-bottom: 30px;
  outline: none;
  width: 100%;
  transition: all ease 0.7s;
}
input:focus,
textarea:focus {
  border-bottom: 2px solid #000;
}

textarea {
  height: 100px;
}

.mobile-nav-hamburger {
  cursor: pointer;
  display: block;
  position: relative;
  float: right;
  width: 25px;
  height: 50px;
}

.mobile-nav-hamburger span:nth-child(1) {
  position: absolute;
  top: 35%;
  right: 0;
  transform: translateY(-35%);
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.mobile-nav-hamburger span:nth-child(2) {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.mobile-nav-hamburger span:nth-child(3) {
  position: absolute;
  top: 65%;
  right: 0;
  transform: translateY(-65%);
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.mobile-nav-hamburger span:nth-child(1).active {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(45deg);
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.mobile-nav-hamburger span:nth-child(2).active {
  display: none;
}

.mobile-nav-hamburger span:nth-child(3).active {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.main {
  background-color: gray;
  padding-top: 50px;
  background-image: url("../img/bowtiebg.jpg");
  background-size: cover;
  background-position: 63% center;
  background-repeat: no-repeat;
}

.main-header__logo,
.main-header__nav,
.main-header__cotacts,
.footer-rules {
  display: flex;
}

.main-header__logo {
  height: 50px;
}

.main-header__nav {
  justify-content: center;
  height: 50px;
}

.main-header__nav-item a {
  margin: 0 40px 0 40px;
  color: #fff;
  text-transform: uppercase;
  line-height: 50px;
  transition: all ease-in 0.3s;
}

.main-header__cotacts {
  justify-content: flex-end;
  text-align: right;
}

.main-header__cotacts a {
  color: #fff;
  font-size: 16px;
  transition: all ease-in 0.3s;
}

.main-header__cotacts a:hover,
.main-header__nav-item a:hover {
  font-weight: bold;
}

.main-title {
  font-weight: bold;
  font-size: 42px;
  color: #fff;
  margin-top: 146px;
  text-align: center;
}

.main-subtitle {
  margin-top: 8px;
  font-weight: normal;
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.main-offer {
  display: block;
  margin: 0 auto 0 auto;
  padding-top: 550px;
  padding-bottom: 160px;
  text-align: center;
}

.main-offer__btn {
  color: #000;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  padding: 22px 69px 22px 71px;
  font-size: 28px;
  font-weight: bold;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.catalog {
  padding: 170px 0 270px 0;
}

/* Modal window start */

.noscroll {
  overflow: hidden;
}

.overlay {
  display: none;
  overflow-y: scroll;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  margin: 70px 0;
  position: static;
  width: 100%;
  padding-bottom: 93px;
  background-color: #fff;
  padding-bottom: 95px;
}

.popup-close {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  right: -8%;
  top: 50px;
}

.popup-close span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}

.popup-close span:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(90deg);
}

/* Modal window end */

.learn-more {
  display: none;
}

.learn-more__gallery {
  position: relative;
}

.learn-more__gallery-nav {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.learn-more__gallery-nav span {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #5a5a5a;
  margin: 0 11px;
}

.learn-more__gallery-nav span.active:before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.learn-more__title {
  font-size: 40px;
  margin-top: 45px;
  font-weight: normal;
  text-align: center;
}

.learn-more__metarials {
  color: #a3a3a3;
  margin-top: 19px;
  margin-bottom: 42px;
  text-align: center;
  font-size: 22px;
}

.learn-more__descr {
  font-size: 24px;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 26px;
}

.learn-more .catalog-item__price {
  text-align: center;
}

.learn-more .catalog-item__price__new {
  font-size: 30px;
  margin-right: 21px;
}

.learn-more .catalog-item__price__old {
  font-size: 26px;
}

.learn-more .learn-more__buy {
  font-size: 24px;
  margin: 0 auto;
  margin-top: 44px;
  display: block;
}

.order-now {
  display: none;
}

.order-form__title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  padding: 85px 0 83px 0;
}

.order-form__submit {
  display: block;
  cursor: pointer;
  margin: 100px auto 0 auto;
  background-color: #000;
  padding: 13px 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50px;
  font-size: 24px;
  color: #fff;

}

.catalog-item {
  margin-bottom: 70px;
}

.catalog-title {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

.catalog-item__title {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

.catalog-item__descr {
  margin-top: 27px;
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: lighter;
}

.catalog-item__price__new {
  font-size: 24px;
  font-weight: 700;
  margin-right: 11px;
  padding-bottom: 40px;
}

.catalog-item__price__old {
  position: relative;
  font-size: 20px;
  font-weight: normal;
  color: #827d7d;
}

.catalog-item__price__old::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 120%;
  height: 2px;
  background-color: #827d7d;
  margin-left: -10%;
}

.catalog-item__btn {
  padding-top: 40px;
  padding-bottom: 20px;
}

.catalog-item__info {
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #000;
  padding: 13px 25px 12px 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
}

.catalog-item__buy,
.learn-more__buy {
  cursor: pointer;
  background-color: #fff;
  padding: 13px 25px 12px 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50px;
  font-size: 14px;
  color: #000;
}

.aboutus {
  background-color: gray;
  background-image: url(../img/aboutus.jpg);
  background-size: cover;
  background-position: center center;
  padding: 84px 0 245px 0;
  text-align: center;
}

.aboutus-box {
  background-color: rgba(255, 255, 255, 0.82);
}

.aboutus-title {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  padding: 64px 0 47px 0;
}

.aboutus-text {
  font-size: 20px;
}

.aboutus-btn {
  font-size: 18px;
  color: #fff;
  padding: 18px 66px 18px 67px;
  margin: 95px auto 98px auto;
  cursor: pointer;
  background-color: #000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50px;
}

footer {
  padding: 72px 0;
  background-color: #000;
}

.footer-rules {
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
}

/* Media request */
@media (min-width: 768px) {
  .main {
    background-position: 60% center;
  }
  .main-header__nav-item a {
    margin: 0 25px;
  }
  .main-header__nav-item a,
  .main-header__cotacts a,
  footer {
    font-size: 14px;
  }
  .catalog {
    padding: 100px 0 200px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main {
    background-position: 57% center;
  }
  nav,
  header .main-header__cotacts {
    display: none;
  }
  .main-header__nav {
    text-align: center;
    flex-direction: row;
    height: auto;
    padding: 10px 0;
  }
  .main-header__nav-item a {
    margin: 0 20px;
  }  
  .catalog-item__img {
    display: block;
    margin: 0 auto;
  }
  footer img {
    display: block;
    margin: 0 auto;
  }
  .main-header__cotacts {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .main {
    background-position: 55% center;
  }
  nav,
  header .main-header__cotacts {
    display: none;
  }
  .main-header__nav {
    text-align: center;
    flex-direction: row;
    height: auto;
    padding: 10px 0;
  }
  .main-header__nav-item a {
    margin: 0 20px;
  }
  .learn-more__gallery-nav {
    bottom: -25px;
  }
  .learn-more__gallery-nav span {
    margin: 0 5px;
  }
  .aboutus-btn {
    font-size: 14px;
  }
  footer img {
    display: block;
    margin: 0 auto;
  }
  .footer-rules {
    margin: 30px 0;
  }
  .main-header__cotacts {
    justify-content: center;
    text-align: center;
  }
}
