@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.slider {
  height: 800px;
  margin-bottom: 100px;
}

.header {
  background-image: url(../img/slider-img.jpg);
}

.header-products {
  background-image: none;
  background-color: #f5f5f5;
}

.header .logo {
  margin-left: 98px;
  margin-top: 64px;
}

.menu {
  float: right;
  list-style: none;
  margin-right: 211px;
  margin-top: 64px;
}

.menu li {
  float: left;
}

.menu li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 1.4px;
  text-align: right;
  color: #8c8c8c;
  display: block;
  padding: 0 20px;
}

.menu li:not(:last-of-type) a:hover,
.menu li a.active {
  color: #212121;
  border-bottom: 3px solid #000;
}

.text {
  width: 470px;
  margin-top: 288px;
  margin-left: 98px;
}

.text-products {
  width: auto;
  margin-top: 168px;
  padding-bottom: 50px;
}

.text h3 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 1.8px;
  text-align: left;
  color: #43a047;
}

.text h1 {
  font-size: 62px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.text p {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #6c6c6c;
}

.order-btn {
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 45px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #212121;
  width: 212px;
  height: 45px;
  border-radius: 22.5px;
  -webkit-box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
          box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background-color: #ffffff;
}

.order-btn:hover {
  background: #ffffff url(../img/arrow.png) 173px 17px no-repeat;
}

.text a {
  margin-top: 30px;
}

.slider-nav {
  width: 130px;
  height: 40px;
  margin: 100px auto -19px;
}

.slider-nav span {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: #c7c7c7;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider-nav span:hover {
  background-color: #302f2f;
}

.slider-nav span:nth-child(2) {
  margin: 0 5px;
}

.slider-nav span.active {
  background-color: #212121;
  width: 40px;
  height: 40px;
}

.products {
  margin-left: 98px;
  margin-right: 85px;
  margin-bottom: 120px;
}

.products-all {
  margin-top: 70px;
  margin-bottom: 50px;
}

.product-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-ttl {
  list-style: none;
  margin-bottom: 50px;
}

.products-all .products-ttl {
  margin-bottom: 0;
}

.products-ttl li {
  display: inline-block;
  cursor: pointer;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #6c6c6c;
  padding: 0 10px 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 19px;
  float: left;
}

.products-ttl--small li {
  font-size: 18px;
  padding-right: 20px;
}

.products-ttl li:hover {
  border-bottom: 1px solid #6c6c6c;
}

.products-ttl li.active {
  color: #212121;
  padding-bottom: 17px;
  border-bottom: 3px solid #212121;
}

.products-link {
  margin-top: 15px;
  height: 24px;
  padding-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #212121;
  background: transparent url(../img/arrow.png) right center no-repeat;
}

.products-link:hover {
  color: #f6514e;
}

.products-all .products-link {
  margin-top: 0;
}

.product-item {
  position: relative;
  width: 270px;
  height: 270px;
  vertical-align: middle;
  display: inline-block;
}

.product-item:not(:last-of-type) {
  margin-right: 30px;
}

.item-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid #a1a1a2;
  width: 100%;
  height: 100%;
}

.item-info__btn {
  position: absolute;
  display: block;
  top: 62px;
  left: 111px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
          box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background: #ffffff url(../img/arrow.png) center center no-repeat;
}

.item-info__ttl {
  position: absolute;

  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
  top: 129px;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
}

.item-info__text {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #6c6c6c;
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 220px;
}

a.product-item:hover .item-info {
  display: block;
}

.exclusive {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-bottom: 120px;
}

.exclusive-item {
  min-height: 683px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 228px 20px 20px 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.exclusive-item:nth-child(1) {
  background-image: url(../img/promo-img1.jpg);
}

.exclusive-item:nth-child(2) {
  background-image: url(../img/promo-img2.jpg);
}

.exclusive-item__subttl {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 1.8px;
  text-align: left;
  color: #1e88e5;
}

.exclusive-item__ttl {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.exclusive-item__text {
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #6c6c6c;
  max-width: 374px;
}

.trending {
  margin-left: 98px;
  margin-right: 98px;
  margin-bottom: 120px;
}

.trending-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending-ttl {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
  margin-bottom: 60px;
}

.trending-ctl {
  display: grid;
  grid-template-columns: repeat(auto-fit, 370px);
  grid-gap: 30px;
}

.hot {
  padding-top: 287px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/hot-slider.jpg);
}

.hot .text {
  margin-top: 0;
  width: 490px;
}

.hot .text h3 {
  text-transform: uppercase;
  color: #e53935;
}

.hot .text h1 {
  text-transform: uppercase;
}

.hot .text p {
  color: #6c6c6c;
}

.hot .slider-nav {
  margin-top: 190px;
}

.exclusive--small {
  margin-left: 98px;
}

.exclusive-item--small {
  min-height: 570px;
  padding: 186px 20px 20px 51px;
}

.exclusive-item.exclusive-item--small {
  background-image: url(../img/product-11.jpg);
}

.exclusive-item.exclusive-item--grid {
  background: transparent;
  padding: 0;
  padding-left: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-gap: 30px;
}

.footer {
  background-color: #f7f7f7;
  padding-bottom: 30px;
}

.footer-img {
  background-image: url(../img/back-img.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 126px;
  padding-left: 98px;
}

.footer-subttl {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 1.8px;
  text-align: left;
  color: #6c6c6c;
}

.footer-ttl {
  text-transform: uppercase;
  width: 490px;
  font-size: 62px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.footer-text {
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: left;
  color: #6c6c6c;
  margin-top: 25px;
  margin-bottom: 30px;
}

.footer-img-cnt {
  display: block;
  position: relative;
  padding-bottom: 60px;
}

.footer-img-cnt img {
  width: 135px;
  height: 40px;
  margin-right: 10px;
}

.footer-lists {
  padding-left: 98px;
  padding-right: 98px;
  margin-top: 100px;
  padding-bottom: 30px;
}

.footer-list-item {
  vertical-align: top;
  display: inline-block;
}

.footer-list-item:nth-child(1) {
  width: 230px;
  margin-right: 60px;
}

.footer-list-item:nth-child(2) {
  margin-right: 60px;
}

.footer-list-item:nth-child(3) {
  max-width: 370px;
}

.footer-list-item__ttl {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 1.8px;
  text-align: left;
  color: #6c6c6c;
  margin-bottom: 20px;
}

.footer-list-item p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.footer-list-item p a {
  text-decoration: none;
  color: #212121;
}

.footer-list-item p a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.footer-list-item__list {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
}


.footer-list-item__list--first {
  margin-right: 100px;
}

.footer-list-item__list li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: 0.7px;
  text-align: left;
  color: #212121;
}

.footer-list-item__list li a:hover {
  color: #f6514e;
}

.sendmail {
  position: relative;
  margin-top: 25px;
}

.telegram {
  outline: none;
  width: 370px;
  height: 48px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 48px;
  letter-spacing: normal;
  text-align: left;
  color: #6c6c6c;
  padding-left: 19px;
  padding-right: 35px;
}

input[type="submit"] {
  cursor: pointer;
  width: 21px;
  height: 17px;
  position: absolute;
  right: 13px;
  top: 15px;
  border: none;
  outline: none;
  background-image: url(../img/telegram.png);
  background-repeat: no-repeat;
}

.footer-social {
  padding-left: 98px;
  padding-right: 98px;
}

.footer-text--bold {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.17;
  letter-spacing: 0.6px;
  text-align: left;
  color: #6c6c6c;
}

.footer-copyright {
  width: 362px;
  margin-right: 158px;
}

.footer-social-lists {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 170px;
}

.footer-social-lists li {
  float: left;
  margin-right: 5px;
}

.trending-load {
  cursor: pointer;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

.trending-load:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.exclusive-products {
  margin-bottom: 0;
}

.footer-products .footer-lists {
  margin-top: 0;
  padding-top: 115px;
}

.header-product {
  background-image: none;
  padding-bottom: 50px;
}

.item {
  margin-bottom: 245px;
}

ul.item-nav {
  background-color: #f4f4f4;
  text-align: center;
  list-style: none;
}

.item-nav li {
  display: inline-block;
}

.item-nav li a {
  margin: 0 25px;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  color: rgb(33, 33, 33);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  
  letter-spacing: 1.8px;
  color: #6c6c6c;
}

.item-nav li a:hover {
  color: #212121;
}

.item-cnt {
  margin-top: 70px;
  margin-left: 98px;
  margin-right: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.item-descr {
  margin-left: 60px;
}

.item-img-list {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 240px;
}

.item-img__small {
  cursor: pointer;
  width: 70px;
}

.item-img__small:hover {
  opacity: .4;
}

.item-img__small.item-img__small--active:hover {
  opacity: 1;
}

.item-img__small:not(:last-of-type) {
  margin-right: 10px;
}

.item-descr__ttl {
  margin-top: 30px;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
}

.item-descr__subttl {
  margin-bottom: 26px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 1.8px;
  text-align: center;
  color: #e53935;
}

.item-price {
  margin: 0 auto;
  max-width: 289px;

  font-family: 'Gotham';
  font-size: 72px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.item-price__dol,
.item-price__props {
  font-size: 36px;
}

.item-order {
  margin: 0 auto;
  display: block;
  width: 510px;
  height: 71px;
  border-radius: 35px;
  -webkit-box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
          box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background-color: #f44336;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 71px;
  letter-spacing: 4.4px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 49px;
}

.item-order:hover {
  background-image: url(../img/arrowwhite.png);
  background-repeat: no-repeat;
  background-position: 340px center;
}

.item-text {
  font-family: "Gotham";
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: #212121;
  margin-bottom: 15px;
}

.location {
  margin-left: 98px;
  margin-right: 98px;
  margin-top: 70px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 30px;
}

.location-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #9c9c9c;
  padding: 48px 46px 63px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #6c6c6c;
}

.location-item__img {
  display: block;
  margin: 0 auto;
}

.location-item__ttl {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
  margin-top: 34px;
  margin-bottom: 23px;
}

.location-item__subttl {
  font-weight: bold;
  margin-top: 10px;
}

a.location-item__link {
  text-decoration: none;
  font-weight: bold;
  color: #212121;
}

a.location-item__link:hover {
  text-decoration: underline;
}
  